body{
    margin: 50px;
    padding: 50px;
    background-color: aliceblue;
}
.text_center{
    text-align: center;
}
a{
   text-decoration: none; 
}
ul{
    list-style-type: none;
}
nav{
    background-color: rgb(16, 7, 50);
    margin: 10px;
    padding: 10px;
}
nav li{
    display: inline;
    margin-top: 5px;
    margin: 5px;
}
nav li a{
    color:white;
    margin: auto 30px;
}
section{
    padding: 10px;
    margin: 10px;
}
section ul{
    width: 50%;
    margin: auto;
}
figcaption {
    text-align: center;
}
#profile{
    display: inline-block;
    width: 30%;
}
#profile img{
    height: 200px;
}
#profile figure{
    width: 200px;
    margin: auto;
}
#about > p{
    display: inline-block;
    width: 65%;
}